/* custom css goes here */

body{     
    font-family: 'Roboto', sans-serif;
}

div.section-about{
    height: 180px; 
}

div.section-main{
    height: 870px;
}

div.section-mobile{
    height: 150px;
}

div.section-footer-a{
    height: 400px;
}

div.section-footer-b{
    height: 40px;
}

div.section-footer-mobile{
    height: 350px;
}

div.uk-section-secondary{
    background-color: #262626;
}

div.section-totop{
    height: 15px;
    background-color: #363636;
}

.social-icon {
    display: inline-block; 
    margin: 0 10px
}

li.uk-active{
    color: #a78943;
}

img[data-src][src*='data:image'] { 
    background: rgb(126, 126, 126); 
}

hr.navbar{
    border-radius: 5px;
    border-width: 4px 0 0 0;
    width: 70%;
}

hr.small{
    border-width: 2px 0 0 0;
    width: 25%;
    margin: 3em auto;
}

hr.footer{
    border-radius: 5px;
    border-width: 2px 0 0 0;
    width: 100%;
}

div.b {
    line-height: 2;
}

span.names {
    float: left; 
    margin-left: 7px;
}

a.icons {
    margin-left: 7px;
}